body {
  background-color: #000;
  color: #3c5b95;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
}
header {
  margin: 0px auto;
  width: 1000px;
  height: 120px;
}
a {
  color: #3c5b95;
}
a:hover {
  text-decoration: none;
  color: #5279c1;
}
#logo {
  height: 100px;
  padding-top: 20px;
  width: 200px;
  float: left;
}
#headerLinks {
  height: 80px;
  padding: 20px;
  width: 560px;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
  float: left;
}
#welcomeUser {
  height: 100px;
  padding: 10px;
  width: 180px;
  text-align: center;
  float: left;
}
#dealsContent {
  margin: 0px auto;
  width: 1000px;
}
#container {
  width: 1000px;
  height: 400px;
  padding: 50px 0px 250px 0px;
  position: relative;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 30%;
  overflow: hidden;
}
.coverflow {
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: #fff;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}
#browseLinks {
  width: 1000px;
  height: 200px;
  text-align: center;
  position:relative;
  top:-200px;
}
.arrowLink {
  margin: 0px 20px;
  display: inline-block;
}
.vendorLogo {
  padding: 20px;
}
.itemGraphic {
  padding-right: 10px;
  float: right;
}
.itemName {
  padding: 20px;
  font-size: 18px;
}
.itemDescription {
  padding: 20px;
}
.averageSavings {
  padding: 20px;
  width: 360px;
  clear: both;
  text-align: center;
}
table {
  margin-top: 50px;
  color: #eee;
}
td {
  padding: 10px;
}
form {
  display: inline-block;
}
.oddTableRow {
  background-color: #222;
}
.evenTableRow {
  background-color: #444;
}
#searchBox {
  border: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #888;
}
#searchContainer {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}